#gridBody {
    border: 3px solid black;
    position: relative;
} 

.tiles {
    border: 1px solid black;
    position: absolute;
    text-align: center;
    font-size: 85px;
    font-family: sans-serif;
}

.tiles.cross {
    background-image: url('image-x.png');
    background-repeat: no-repeat;
    background-position: center;
}

.tiles.circle {
    background-image: url('image-o.png');
    background-repeat: no-repeat;
    background-position: center;
}

.player-label.active {
    color: green;
}

.player-label {
    font-size: 25px;
    color: lightgray;
    float: left;
}

#resetButton {
    position: absolute;
    width: 90px;
    height: 60px;
    font-size: 20px;
    top: 10;
}

#playButton {
    position: absolute;
    width: 90px;
    height: 60px;
    font-size: 20px;
    top: 10;
}

#winner {
    position: absolute;
    font-size: 40px;
    color: green;
    top: 120;
}

#inputGridSize {
    position: absolute;
    top: 180;
    font-size: 20px;
}

#inputWinningNumber {
    position: absolute;
    top: 230;
    font-size: 20px;
}

#gridSize {
    width: 60px;
    height: 25px;
}

#winningNumber {
    width: 60px;
    height: 25px;
}